<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div
          class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top"
        >
          <a class="sidebar-brand brand-logo" href="#"
            ><img src="assets/images/logo.svg" alt="logo"
          /></a>
          <a class="sidebar-brand brand-logo-mini" href="#"
            ><img src="assets/images/logo-mini.svg" alt="logo"
          /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img
                    class="img-xs rounded-circle"
                    src="assets/images/faces/face15.jpg"
                    alt=""
                  />
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Admin</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <!-- User Management -->
          <li class="nav-item menu-items">
            <a class="nav-link" href="#">
                <span class="menu-icon">
                    <i class="mdi mdi-account-multiple"></i>
                </span>
                <span class="menu-title">User Management</span>
            </a>
        </li>

        <!-- Worker Management -->
        <li class="nav-item menu-items">
            <a class="nav-link" href="#">
                <span class="menu-icon">
                    <i class="mdi mdi-account-settings"></i>
                </span>
                <span class="menu-title">Worker Management</span>
            </a>
        </li>

        <!-- Product Management -->
        <li class="nav-item menu-items">
            <a class="nav-link" href="#">
                <span class="menu-icon">
                    <i class="mdi mdi-package-variant"></i>
                </span>
                <span class="menu-title">Product Management</span>
            </a>
        </li>

        <!-- Service Management (with Sub-Menu) -->
        <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#service-management" aria-expanded="false"
                aria-controls="service-management">
                <span class="menu-icon">
                    <i class="mdi mdi-briefcase-check"></i>
                </span>
                <span class="menu-title">Service Management</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="service-management">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Service Analytics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#crud_service">View Services (CRUD)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#request_service">Manage Service Requests</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Order Management -->
  <li class="nav-item menu-items">
    <a
      class="nav-link"
      data-toggle="collapse"
      href="#order-management"
      aria-expanded="false"
      aria-controls="order-management"
    >
      <span class="menu-icon">
        <i class="mdi mdi-cart"></i>
      </span>
      <span class="menu-title">Order Management</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="order-management">
      <ul class="nav flex-column sub-menu">
        <li class="nav-item">
          <a class="nav-link" href="Orders.php">View Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Manage Orders</a>
        </li>
      </ul>
    </div>
  </li>
  <!-- Worker Management -->
</nav>
      <!-- partial -->

      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div
            class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
          >
            <a class="navbar-brand brand-logo-mini" href="index.html"
              ><img src="assets/images/logo-mini.svg" alt="logo"
            /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button
              class="navbar-toggler navbar-toggler align-self-center"
              type="button"
              data-toggle="minimize"
            >
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search products"
                  />
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-none d-lg-block">
                <a
                  class="nav-link btn btn-success create-new-button"
                  id="createbuttonDropdown"
                  data-toggle="dropdown"
                  aria-expanded="false"
                  href="#"
                  >+ Create New Project</a
                >
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="createbuttonDropdown"
                >
                  <h6 class="p-3 mb-0">Projects</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-file-outline text-primary"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Software Development
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-web text-info"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        UI Development
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-layers text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Software Testing
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all projects</p>
                </div>
              </li>
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>
              <li class="nav-item dropdown border-left">
                <a
                  class="nav-link count-indicator dropdown-toggle"
                  id="messageDropdown"
                  href="#"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="mdi mdi-email"></i>
                  <span class="count bg-success"></span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="messageDropdown"
                >
                  <h6 class="p-3 mb-0">Messages</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="assets/images/faces/face4.jpg"
                        alt="image"
                        class="rounded-circle profile-pic"
                      />
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Mark send you a message
                      </p>
                      <p class="text-muted mb-0">1 Minutes ago</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="assets/images/faces/face2.jpg"
                        alt="image"
                        class="rounded-circle profile-pic"
                      />
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Cregh send you a message
                      </p>
                      <p class="text-muted mb-0">15 Minutes ago</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <img
                        src="assets/images/faces/face3.jpg"
                        alt="image"
                        class="rounded-circle profile-pic"
                      />
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject ellipsis mb-1">
                        Profile picture updated
                      </p>
                      <p class="text-muted mb-0">18 Minutes ago</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">4 new messages</p>
                </div>
              </li>
              <li class="nav-item dropdown border-left">
                <a
                  class="nav-link count-indicator dropdown-toggle"
                  id="notificationDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="notificationDropdown"
                >
                  <h6 class="p-3 mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Event today</p>
                      <p class="text-muted ellipsis mb-0">
                        Just a reminder that you have an event today
                      </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                      <p class="text-muted ellipsis mb-0">Update dashboard</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-link-variant text-warning"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Launch Admin</p>
                      <p class="text-muted ellipsis mb-0">New admin wow!</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">See all notifications</p>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  id="profileDropdown"
                  href="#"
                  data-toggle="dropdown"
                >
                  <div class="navbar-profile">
                    <img
                      class="img-xs rounded-circle"
                      src="assets/images/faces/face15.jpg"
                      alt=""
                    />
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">
                      Henry Klein
                    </p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="profileDropdown"
                >
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button
              class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
              type="button"
              data-toggle="offcanvas"
            >
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <!-- Service Management Page Content -->
          <div class="content-wrapper">
            <!-- Page Header -->
            <div class="page-header">
              <h3 class="page-title">Service Management</h3>
            </div>

            <!-- Service Analytics Section -->
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Service Analytics</h4>
                <p class="card-description">Overview of key service metrics</p>
                <div class="row">
                  <!-- Total Services -->
                  <div class="col-md-3">
                    <div class="card bg-light text-dark mb-3">
                      <div class="card-body text-center">
                        <h5>Total Services</h5>
                        <h3>15</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Approved Services -->
                  <div class="col-md-3">
                    <div class="card bg-success text-white mb-3">
                      <div class="card-body text-center">
                        <h5>Approved Services</h5>
                        <h3>10</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Pending Services -->
                  <div class="col-md-3">
                    <div class="card bg-warning text-white mb-3">
                      <div class="card-body text-center">
                        <h5>Pending Services</h5>
                        <h3>3</h3>
                      </div>
                    </div>
                  </div>
                  <!-- Disapproved Services -->
                  <div class="col-md-3">
                    <div class="card bg-danger text-white mb-3">
                      <div class="card-body text-center">
                        <h5>Disapproved Services</h5>
                        <h3>2</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Service Requests Section -->
            <div class="card mt-4">
              <div class="card-body">
                <h4 class="card-title">Service Requests</h4>
                <p class="card-description">
                  Review and manage submitted service requests
                </p>

                <!-- Service Request 1 -->
                <div class="border p-3 mb-4">
                  <h5 class="text-primary">Service Title: Lawn Mowing</h5>
                  <p>
                    <strong>Description:</strong> Mow the front and backyard,
                    trim edges, and clear clippings.
                  </p>
                  <div class="row">
                    <div class="col-md-4">
                      <p><strong>Preferred Date:</strong> 15/11/2024</p>
                    </div>
                    <div class="col-md-4">
                      <p><strong>Preferred Time:</strong> 09:00 AM</p>
                    </div>
                    <div class="col-md-4">
                      <p><strong>Number of Workers:</strong> 2</p>
                    </div>
                  </div>
                  <p>
                    <strong>Special Instructions:</strong> Bring your own
                    equipment. Ensure all edges are neatly trimmed.
                  </p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-success btn-sm mr-2">Approve</button>
                    <button class="btn btn-danger btn-sm">Disapprove</button>
                  </div>
                </div>

                <!-- Service Request 2 -->
                <div class="border p-3 mb-4">
                  <h5 class="text-primary">Service Title: House Cleaning</h5>
                  <p>
                    <strong>Description:</strong> Deep clean the living room,
                    kitchen, and two bedrooms.
                  </p>
                  <div class="row">
                    <div class="col-md-4">
                      <p><strong>Preferred Date:</strong> 20/11/2024</p>
                    </div>
                    <div class="col-md-4">
                      <p><strong>Preferred Time:</strong> 11:00 AM</p>
                    </div>
                    <div class="col-md-4">
                      <p><strong>Number of Workers:</strong> 3</p>
                    </div>
                  </div>
                  <p>
                    <strong>Special Instructions:</strong> Focus on dusting and
                    scrubbing. Bring eco-friendly cleaning products.
                  </p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-success btn-sm mr-2">Approve</button>
                    <button class="btn btn-danger btn-sm">Disapprove</button>
                  </div>
                </div>

                <!-- Service Request 3 -->
                <div class="border p-3 mb-4">
                  <h5 class="text-primary">Service Title: Pool Maintenance</h5>
                  <p>
                    <strong>Description:</strong> Clean and maintain the pool,
                    including skimming, vacuuming, and balancing chemicals.
                  </p>
                  <div class="row">
                    <div class="col-md-4">
                      <p><strong>Preferred Date:</strong> 22/11/2024</p>
                    </div>
                    <div class="col-md-4">
                      <p><strong>Preferred Time:</strong> 01:00 PM</p>
                    </div>
                    <div class="col-md-4">
                      <p><strong>Number of Workers:</strong> 1</p>
                    </div>
                  </div>
                  <p>
                    <strong>Special Instructions:</strong> Use chlorine tablets.
                    Be careful with equipment around pool edges.
                  </p>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-success btn-sm mr-2">Approve</button>
                    <button class="btn btn-danger btn-sm">Disapprove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div
              class="d-flex flex-column flex-sm-row justify-content-between align-items-center"
            >
              <span class="text-muted text-center text-sm-left mb-2 mb-sm-0">
                Copyright © Falle7a Place 2024
              </span>
              <span class="text-center text-sm-right">
                Powered by
                <a href="#" target="_blank" class="text-success"
                  >Falle7a Place</a
                >
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
